* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family:
    'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none;
}

iframe {
  border: 0;
}

.content-box {
  position: absolute;
  left: var(--sidebar-width);
  right: 0;
  top: var(--header-height);
  bottom: 0;
  padding-bottom: var(--tab-title-height);
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  background: #f0f0f0;
}

.content {
  width: auto;
  height: 100%;
  overflow: none;
  box-sizing: border-box;
}

.content-collapse {
  left: var(--sidebar-collapse-width);
}

.container {
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
}

.container > div {
  padding: 20px;
  box-sizing: border-box;
}

/* views 下的页面添加 class="no-scroll" 即不显示滚动条 */
.container > div.no-scroll {
  height: 100%;
}

/* 高度过小时， no-scroll 也显示滚动条 */
@media (max-height: 500px) {
  .container > div.no-scroll {
    overflow-y: auto;
  }
}

/* 不添加时, 默认展示滚动条 */
.container > div:not(.no-scroll) {
  height: 100%;
  /* min-height: 100%; */
  overflow-y: auto;
}

.crumbs {
  margin: 10px 0;
}

.el-table th {
  background-color: #f5f7fa !important;
}

.pagination {
  margin: 20px 0;
  text-align: right;
}

.plugins-tips {
  background: #eef1f6;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.plugins-tips a {
  color: #20a0ff;
}

.el-button + .el-tooltip {
  margin-left: 10px;
}

.el-table tr:hover {
  background: #f6faff;
}

.mgb20 {
  margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
  transition: opacity 0.1s ease;
}

.move-enter-from,
.move-leave-to {
  opacity: 0;
}

/*BaseForm*/

.form-box {
  width: 600px;
}

.form-box .line {
  text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

[hidden] {
  display: none !important;
}

/* 2024.12.18 */
/* 修改 el-table 的滚动条宽度 */
.el-scrollbar__bar.is-horizontal {
  height: 12px !important;
}
.el-scrollbar__bar.is-vertical {
  width: 12px !important;
}
