<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.modules.system.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.example.backend.modules.system.model.entity.User">
        select id, username, password_hash, role_id
        from system_user
        where username = #{username}
    </select>

    <update id="updateUserInfoByPrimaryKey" parameterType="com.example.backend.modules.system.model.entity.User">
        update system_user
        set username  = #{username,jdbcType=VARCHAR},
            role_id   = #{roleId,jdbcType=INTEGER},
            telephone = #{telephone,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="alterPassword">
        update system_user
        set password_hash = #{newPasswordHash}
        where id = #{userId} LIMIT 1
    </update>

    <select id="getUserPage" resultType="com.example.backend.modules.system.model.entity.User">
        SELECT * FROM system_user
        <where>
            <include refid="whereCondition" />
        </where>
        <include refid="orderByCondition" />
    </select>
    <select id="getUserList" resultType="com.example.backend.modules.system.model.entity.User">
        SELECT * FROM system_user
        <where>
            <include refid="whereCondition" />
        </where>
    </select>

    <sql id="whereCondition">
        <if test="query.id != null and query.id != ''">
            AND id = #{query.id}
        </if>
        <if test="query.username != null and query.username != ''">
            AND username LIKE concat('%',#{query.username},'%')
        </if>
        <if test="query.roleId != null">
            AND role_id = #{query.roleId}
        </if>
        <if test="query.telephone != null and query.telephone != ''">
            AND telephone LIKE concat('%',#{query.telephone},'%')
        </if>
    </sql>
    <sql id="orderByCondition">
        <if test="orderByItem != null and orderByItem.size() > 0">
            ORDER BY
            <foreach collection="orderByItem" item="sort" separator=",">
                `${sort.field}`
                <choose>
                    <when test="sort.isDesc == true">DESC</when>
                    <otherwise>ASC</otherwise>
                </choose>
            </foreach>
        </if>
    </sql>

</mapper>
